#menuPrincipal {
	
	background-color: white;
	height: 25px;
	margin-bottom: 35px;
	
}

#header{
	background-color: #f75c03;
	height: 55px;
}
.selected {
	background-color:salmon;
	color:white;
}

#tablaPlazas , #tablaEmpresas {
	
	width: 65%;
	margin-left:130px;
	
}

#menuAcciones{
	padding-top:10px;
	padding-left:20px;
	width:50px;
	height:300px;
	cursor:pointer ;
		
}

.size-12{
	font-size : 72px;
	color: #86bbd8;
}

tbody tr:hover{
	background-color: salmon;
	color:white;
	cursor:pointer;
}

th {
	color: #fff !important;
background-color: #067BC2 !important;
}


#contenidos{
	padding-top:50px;
}

